<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601451951128-vk7rdf8b1s5pi0ovut1stqtq54j4kr9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601451951128-vk7rdf8b1s5pi0ovut1stqtq54j4kr9g</string>
	<key>API_KEY</key>
	<string>AIzaSyC8uCOPYAu0_FoqDg9Wer0MePd6cW9LdEs</string>
	<key>GCM_SENDER_ID</key>
	<string>601451951128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreburgoyne.fishlist</string>
	<key>PROJECT_ID</key>
	<string>gill-e12cf</string>
	<key>STORAGE_BUCKET</key>
	<string>gill-e12cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601451951128:ios:d814998f6c4e9b58e73f6d</string>
	<key>DATABASE_URL</key>
	<string>https://gill-e12cf.firebaseio.com</string>
</dict>
</plist>